# """
# @file buildout.cfg
# @date 2008-09-16
# Contributors can be viewed at:
# http://svn.secondlife.com/svn/linden/projects/2008/pyogp/CONTRIBUTORS.txt 
# 
# $LicenseInfo:firstyear=2008&license=apachev2$
# 
# Copyright 2008, Linden Research, Inc.
# 
# Licensed under the Apache License, Version 2.0 (the "License").
# You may obtain a copy of the License at
# 
# http://www.apache.org/licenses/LICENSE-2.0
# or in 
# http://svn.secondlife.com/svn/linden/projects/2008/pyogp/LICENSE.txt
# 
# $/LicenseInfo$
# """

[buildout]
parts = 
    pyogp
    tests

develop = 
    src/pyogp.lib.base
    src/pyogp.interop

eggs =
    elementtree

[pyogp]
recipe = zc.recipe.egg
eggs =  
        setuptools
        indra.base
        uuid
        wsgiref
        pyogp.lib.base
        pyogp.interop
        eventlet

interpreter = pyogp

[tests]
recipe = zc.recipe.testrunner
eggs =
    uuid
    indra.base
    pyogp.lib.base
script = client_unittest

[testharness]
recipe = zc.recipe.testrunner
eggs =
    indra.base
    uuid
    pyogp.interop
script = interop_testharness

